

@{
    ViewData["Title"] = "Index";
}

<h3>Minhas Contas</h3>

<table class="table table-bordered">
    @{
        <thead>
            <tr>
                <th>#</th>
                <th>#</th>
                <th>ID</th>
                <th>Descrição</th>
                <th>Tipo</th>
            </tr>
        </thead>
        foreach (var item in (List<PlanoContaModel>)ViewBag.ListaPlanoContas)
        {
            <tbody>
                <tr>
                    <td><button type="button" class="btn btn-primary" onclick="Editar(@item.Id)">Editar</button></td>
                    <td><button type="button" class="btn btn-danger" onclick="Excluir(@item.Id)">Excluir</button></td>
                    <td>@item.Id.ToString()</td>
                    <td>@item.Descricao</td>
                    <td>@item.Tipo.ToString().Replace("R", "Receita").Replace("D", "Despesa")</td>
                </tr>
            </tbody>
        }

    }
</table>

<button type="button" class="btn btn-block btn-primary" onclick="CriarPlanoConta()">Criar Conta</button>

<script>
    function CriarPlanoConta()
    {
        window.location.href = "../PlanoConta/CriarPlanoConta";
    }

    function Excluir(id_Conta) {
        window.location.href = "../PlanoConta/ExcluirPlanoConta/" + id_Conta;
    }

    function Editar(id_Conta) {
        window.location.href = "../PlanoConta/CriarPlanoConta/" + id_Conta;
    }

</script>


